{% extends base %}
{% block content %}
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5">
            <div class="mb-md-3 mt-md-3 pb-5">
                <div class="text-center mb-4">
                    <h2 class="fw-bold mb-2 text-uppercase">OAuth GoToID</h2>
                    <p class="text-white-50">Please confirm your login in a third-party app!</p>
                </div>
                <form action="/oauth/authorize" method="post" class="needs-validation" novalidate>
                    <input class="form-control" name="client_id" type="hidden" />
                    <input class="form-control" name="redirect_uri" type="hidden" />
                    <input class="form-control" name="response_type" type="hidden" />
                    <input class="form-control" name="grant_type" type="hidden" />
                    <input class="form-control" name="state" type="hidden" />
                    <input class="form-control" name="scope" type="hidden" />
                    <div class="mb-3 px-5 pb-3">
                        <h5 class="text-center fw-bold mb-2">You give the application access to:</h5>
                        <ul class="list-group mb-3">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" checked onclick="return false;">
                                <label class="form-check-label" for="firstCheckbox">User</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" checked onclick="return false;">
                                <label class="form-check-label" for="secondCheckbox">Email</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" checked onclick="return false;">
                                <label class="form-check-label" for="thirdCheckbox">Telegram</label>
                            </li>
                        </ul>
                        <div class="mb-3">
                            <input type="checkbox" class="btn-check" id="btncheck" name="agree" autocomplete="off" required>
                            <label class="btn btn-outline-light" for="btncheck">Do you agree?</label>
                            <div class="invalid-feedback">
                                If you don't agree, please leave this page!
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <p class="mb-2"></p>
                    <div class="text-center">
                        <button class="btn btn-outline-light btn-lg px-5 center" type="submit">Login via GoToID</button>
                    </div>
                </form>
            </div>
            <div>
                <p class="mb-0 text-center">
                    Don't want to login? <a href="/" class="text-white-50 fw-bold">Main Page</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/validate_form.js"></script>
<script src="/static/js/warning_handler.js"></script>
<script src="/static/js/oauth.js"></script>
{% endblock %}