{% extends base %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col mb-3 col-xl-6">
        <div class="card bg-dark text-white rb p-2">
            <div class="card-body">
                <form method class="needs-validation mb-3" novalidate>
                    <div class="row">
                        <div class="col">
                            <div class="col d-flex justify-content-center align-items-center mb-3">
                                <img src="/static/images/goto_man.jpg" class="avatar" id="avatar" />
                            </div>
                            <span class="col d-flex justify-content-center align-items-center mb-3">
                                <h4><strong>150x150</strong></h4>
                            </span>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-group">
                                            <span class="input-group-text">@</span>
                                            <input class="form-control" type="text" name="username" placeholder="username" value="{{ username }}"
                                                required pattern="^[a-z0-9_]{3,15}$">
                                            <div class="invalid-feedback">
                                                Please enter your username.
                                            </div>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" type="text" name="firstName" placeholder="Vasya" value="{{ fullname.firstName }}"
                                            required>
                                        <div class="invalid-feedback">
                                            Please enter your first name.
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control" type="text" name="lastName" placeholder="Pupkin" value="{{ fullname.lastName }}"
                                            required>
                                        <div class="invalid-feedback">
                                            Please enter your last name.
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="email" name="email" placeholder="user@example.com"
                                            value="{{ profile.email }}">
                                        <div class="invalid-feedback">
                                            Please enter your email.
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Telegram</label>
                                        <div class="input-group">
                                            <span class="input-group-text">@</span>
                                            <input class="form-control" type="text" name="telegram" placeholder="username"
                                                value="{{ profile.telegram }}" pattern="^[a-z0-9_]{5,15}$">
                                            <div class="invalid-feedback">
                                                Please enter your telegram correctly.
                                            </div>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="form-group">
                                        <label>URL to photo</label>
                                        <div class="input-group">
                                            <span class="input-group-text">URL</span>
                                            <input class="form-control" id="avatarURL" type="text" name="avatarURL"
                                                placeholder="https://example.com/photo-150x150" value="{{ profile.avatarURL }}">
                                            <div class="invalid-feedback">
                                                Please enter your URL to photo.
                                            </div>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label>About</label>
                                        <textarea class="form-control" rows="3" name="about" placeholder="My Bio">{{ profile.about }}</textarea>
                                        <div class="invalid-feedback">
                                            Something wrong.
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center button-group">
                            <button class="btn btn-outline-light btn-lg" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/validate_form.js"></script>
<script src="/static/js/avatar_preview.js"></script>
{% endblock %}