{% extends base %}
{% block content %}
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card bg-dark text-white ">
        <div class="card-body p-5">
        <div class="mb-md-3 mt-md-3 pb-5">
            <div class="text-center">
                <h2 class="fw-bold mb-2 text-uppercase">Change Password</h2>
                <p class="text-white-50 mb-5">Please enter your old and new password!</p>
            </div>
            <div class="password-warning" style="visibility: hidden; display: none;">
                <div class="alert alert-warning" role="alert">Wrong old password!</div>
            </div>
            <div class="change-password-warning" style="visibility: hidden; display: none;">
                <div class="alert alert-warning" role="alert">An error occurred when changing the password!</div>
            </div>
            <form method="post" class="needs-validation" novalidate>
                <div class="mb-4">
                    <label>Old Password</label>
                    <input class="form-control" type="password" name="old_password" required />
                    <div class="invalid-feedback">
                        Please enter your old password.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-4">
                    <label>New Password</label>
                    <input class="form-control" type="password" name="new_password" required pattern="^[A-Za-z0-9_]{3,15}$"/>
                    <div class="invalid-feedback">
                        Please enter your new password.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <p class="mb-3 pb-lg-2"></p>
                <div class="text-center">
                    <button class="btn btn-outline-light btn-lg px-5 center" type="submit">Change</button>
                </div>
            </form>
        </div>
        <div>
            <p class="mb-0 text-center">
                Don't want to change your password? <a href="/" class="text-white-50 fw-bold">Main Page</a>
            </p>
        </div>
        </div>
    </div>
    </div>
    <script src="/static/js/error_handler.js"></script>
    <script src="/static/js/warning_handler.js"></script>
    <script src="/static/js/validate_form.js"></script>    
{% endblock %}
